.text-input {

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: var(--padding);

    border: var(--border-width) solid var(--color-input-border);
    background-color: transparent;
    border-radius: var(--border-radius);
    font-size: 1rem;
    transition: var(--transition-all);

    -webkit-background-clip: text !important; // Remove browser autofill styles
    background-clip: text !important; // Remove browser autofill styles

    &:focus {
      -webkit-appearance: none;
      appearance: none;
      border: var(--border-width) solid var(--color-input-border-focus);
      box-shadow: inset 0 0 0 1px var(--color-input-border-focus);
    }

    &:focus:not(:focus-visible) {
      outline: none;
      box-shadow: none;
    }

    &:focus-visible {
      -webkit-appearance: none;
      appearance: none;
      border: var(--border-width) solid var(--color-input-border-focus);
      box-shadow: inset 0 0 0 1px var(--color-input-border-focus);
    }
  }

  &--error {
    .text-input__input {
      border-color: var(--color-input-error-border);
      border-width: 1px;
      box-shadow: inset 0 0 0 1px var(--color-input-error-border);

      &:focus {
        -webkit-appearance: none;
        appearance: none;
        border: var(--border-width) solid var(--color-input-border-focus);
        box-shadow: inset 0 0 0 1px var(--color-input-border-focus);
      }

      &:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
      }

      &:focus-visible {
        -webkit-appearance: none;
        appearance: none;
        border: var(--border-width) solid var(--color-input-border-focus);
        box-shadow: inset 0 0 0 1px var(--color-input-border-focus);
      }
    }
  }

  &__error-container {
    min-height: 1.5rem;
    margin-top: 4px;
  }

  &__error {
    color: var(--color-input-error-text);
    font-size: 0.875rem;
    line-height: 1.4;
    margin: 0;
  }

  &__error-placeholder {
    display: block;
    height: 1.23rem;
  }
}