.footer {
  background: var(--color-footer-bg);
  color: var(--color-footer-text);
  padding: 1rem 0;
  text-align: center;
  backdrop-filter: var(--footer-backdrop-filter);
  -webkit-backdrop-filter: var(--footer-backdrop-filter);
  border-top: var(--footer-border);
  border-bottom: 1px solid var(--color-footer-bg);

  &__container {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 100%;
  }

  &__socialList {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    padding: 0;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    @media (min-width: 769px) {
      gap: 1rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: var(--color-footer-text);
      transition: var(--transition-color);

      &:hover {
        color: var(--color-navigation-hover);
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline-offset: var(--outline-offset);
        border-radius: var(--border-radius);
        outline: 2px solid var(--color-navigation-focus);
        color: inherit;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;

    a {
      color: var(--color-footer-text);
      transition: var(--transition-color);

      &:hover {
        color: var(--color-navigation-hover);
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline-offset: var(--outline-offset);
        border-radius: var(--border-radius);
        outline: 2px solid var(--color-navigation-focus);
        color: inherit;
      }
    }
  }
}

// Fix sticky color on mobile
@media (hover: none) {
  .footer__socialList a:hover {
    color: var(--color-text-white);
    -webkit-tap-highlight-color: transparent;
  }
}