.link {
  color: var(--color-text-primary);
  text-decoration: underline;
  font-weight: 600;
  transition: color var(--transition-standard);

  &:visited {
    color: var(--color-text-primary);
  }

  &:focus {
    outline: none;
    outline-offset: var(--outline-offset);
    border-radius: var(--border-radius);
    outline: var(--outline);
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:focus-visible {
    outline: none;
    outline-offset: var(--outline-offset);
    border-radius: var(--border-radius);
    outline: var(--outline);
  }
  @media (hover: hover) {
    &:hover {
      color: var(--color-text-primary);
    }
  }
  &:active {
    color: var(--color-text-primary);
  }
}
