@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Noto+Sans:wght@400;500;600;700&display=swap');

:root {
  color-scheme: light dark;

  --font-family-heading: "Oswald", "Noto Sans", Helvetica, Arial, sans-serif;
  --font-family-body: "Manrope", "Noto Sans", Helvetica, Arial, sans-serif;

  --color-background-header: light-dark(#000, #000);
  --color-background-body: light-dark(#fff, #0e0e12);
  --color-background-menu: light-dark(rgba(0, 0, 0, 0.9), #37373c);
  --color-text-header: light-dark(#fff, #fff);
  --color-text-body: light-dark(#333, #fff);

  --color-accent: #999;
}