.label {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-text-primary);
  display: block;
  margin-bottom: 0.5rem;

  &--error {
    color: var(--color-input-error-text);
  }
}