.button {
  flex: 1;
  padding: var(--padding);
  border: var(--border-width) solid var(--color-button-border);
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition-all);
  text-align: center;
  min-width: 0;
  position: relative;
  outline: 0 solid transparent;
  outline-offset: 0;

  &:focus {
    outline: none;
    outline-offset: var(--outline-offset);
    border-radius: var(--border-radius);
    outline: var(--outline-width) solid var(--color-button-focus-outline);
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:focus-visible {
    outline: none;
    outline-offset: var(--outline-offset);
    border-radius: var(--border-radius);
    outline: var(--outline-width) solid var(--color-button-focus-outline);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-button-hover-bg);
      border-color: var(--color-button-hover-border);
      color: var(--color-button-hover-text);
    }
  }

  &:active {
    background-color: var(--color-button-active-bg);
    border-color: var(--color-button-active-border);
    color: var(--color-button-active-text);
  }

  &--active {
    background-color: var(--color-button-active-state-bg);
    color: var(--color-button-active-state-text);
    border-color: var(--color-button-active-state-border);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-button-active-hover-bg);
        border-color: var(--color-button-active-hover-border);
        color: var(--color-button-active-hover-text);
      }
    }

    &:active {
      background-color: var(--color-button-active-pressed-bg);
      border-color: var(--color-button-active-pressed-border);
      color: var(--color-button-active-pressed-text);
    }
  }
}
